body{
   font-family: Roboto, sans-serif;
   margin: 0;
   padding: 0;
   background-image: url(img/background_01.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ee4a4a;
    color: #fff;
}
.logo {
    display: flex;
    align-items: center;
}
.logo__img {
    max-width: 80px;
}
h1 {
    margin: 0;
    text-align: center;
    flex: 1;
}   
h2 {
   text-align: center;
}
 form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
 }
label {
    font-weight: bold;
    margin-bottom: 5px;
}
  input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #ee4a4a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #0b800b;
  }

 
 
 
 
 
 
 