body {
	font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/estacionamiento.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #ee4a4a;
	color: #fff;
  }
  
.logo {
	display: flex;
	align-items: center;
}
.logo__img {
	max-width: 80px;
}
  
h1 {
	margin: 0;
	text-align: center;
	flex: 1;
}
.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 40px;

}
.space {
	width: 80px;
	height: 80px;
	background-color: #fff;
	box-shadow: 0 0 2px #333;
	border: 2px solid black;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 18px;
	color: #333;
	cursor: pointer;
	opacity: 0.9;
}
.available {
	background-color: #5cb85c;
	color: #fff;
}
.unavailable {
	background-color: #d9534f;
	color: #fff;
	
}
.reserved {
	background-color: #f0ad4e;
	color: #fff;
	
}
