/* General  */
:root {
    --max-width: 1280px;
    --min-width: 320px;
    --accent-color: #ee4a4a;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .reserva{
    background-color: var(--accent-color);
    padding: 1rem 1.5rem;
    font-size: 20px;
}
  /* Container */
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url('img/background_01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.7s ease-in-out;
  }
  
  .header,
  .content,
  .footer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    max-width: var(--max-width);
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
  }
  
  .logo__img {
    margin-right: 0.5rem;
  }

  
  .menu-list {
    margin: 0;

  }
  
  .menu-list__item {
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 24px;
  }
  
  .menu-list__item:last-child {
    margin-right: 0;
  }
  
  /* Content */
  .content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  

  
  .content__clain {
    font-size: 64px;
    color: var(--accent-color);
    margin: 0;
  }
  
  .content__subclain {
    font-size: 36px;
    margin: 0.5rem 0;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
  }
  
  /* Footer */
  .footer-wrapper {
    background-color: black;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__widget {
    font-size: 20px;
  }
  
  .footer__widget__title {
    color: var(--accent-color);
    margin: 0 0 .5rem 0;
  }
  
  .footer__widget__text {
    margin: 0;
  }
  
  /* Responsive stuff */
  @media screen and (max-width: 1280px) {
    .header,
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .menu {
      margin-top: 1.5rem;
    }
  
    .content {
      align-items: center;
    }
  
    .footer__widget {
      margin-bottom: 1rem;
    }
  }
  