*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/background_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
.container-form{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.welcome-back{
    display: flex;
    align-items: center;
    text-align: center;
}
.message{
    padding: 1rem;

}
.message h2{
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button{
    padding: 1rem;
    font-weight: 400;
    background-color: #ee4a4a;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #ffffff;
}

.message button:hover{
    background-color: #0b800b;
}
.formulario{
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.602);
    text-align: center;
}
.create-account{
    padding: 2.7rem 0;
    font-size: 1.7rem;
}
.formulario input{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: #ffffff thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #ffffff;
}
.formulario input[type="button"]{
    width: 60%;
    margin: auto;
    border: solid thin #ffffff;
    padding: .7rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}
.sign-in{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.sign-in.active{
    opacity: 1;
    visibility: visible;
}
.sign-up.active{
    opacity: 0;
    visibility: hidden;
}





