body{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/background_01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ee4a4a;
    color: #fff;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  .logo__img {
    max-width: 80px;
  }
  
  
  h1 {
    margin: 0;
    text-align: center;
    flex: 1;
  }
  
form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    }
    
    form h2 {
    margin-top: 0;
    font-size: 24px;
    }
    
    .form-group {
    margin-bottom: 20px;
    }
    
    .form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    .form-group input[type="date"],
    .form-group input[type="time"],
    .form-group input[type="number"],
    .form-group select {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    }
    
    .form-group input[type="date"]:focus,
    .form-group input[type="time"]:focus,
    .form-group input[type="number"]:focus,
    .form-group select:focus {
    outline: none;
    border-color: #4e95e4;
    }
    
    .form-group__info {
    font-size: 14px;
    margin-left: 10px;
    }
    
    button[type="submit"] {
    background-color: #ee4a4a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px ;
    cursor: pointer;
    
    }
    
    button[type="submit"]:hover {
    background-color: #0b800b;
    }
    
    
    main {
    padding: 40px 0;
    }