
    
 body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/estacionamiento.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ee4a4a;
    color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .logo__img {
    max-width: 80px;
  }
  
  h1 {
    margin: 0;
    text-align: center;
    flex: 1;
  }
    form {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 10px;
        background-color: #f5f5f5;
     
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="number"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
    
    
    button[type="submit"] {
        background-color: #ee4a4a;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px ;
        cursor: pointer;
        align-items: center;
        }
        
        button[type="submit"]:hover {
        background-color: #0b800b;
        }
        

    main {
        padding: 40px 0;
        }
  